<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Sans+Pro|Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>


    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">



    <link href="~/Content/css/bootstrap.css" rel="stylesheet"> 
    <link href="~/Content/css/bootstrap-responsive.css" rel="stylesheet">
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


    <script src="~/Scripts/js/bootstrap.min.js"></script> 

    <!-- jmpress plugin -->
    <script type="text/javascript" src="~/Scripts/js/jmpress.min.js"></script>
    <!-- jmslideshow plugin : extends the jmpress plugin -->
    <script type="text/javascript" src="~/Scripts/js/jquery.jmslideshow.js"></script>
    <script type="text/javascript" src="~/Scripts/js/modernizr.custom.48780.js"></script>
    <!-- End jmpress plugin -->

    <script defer src="~/Scripts/js/jquery.flexslider.js"></script>

    <script type="text/javascript" src="~/Scripts/js/jquery.cycle.all.js"></script>

    <!--	Carsual slider    -->
    <script src="~/Scripts/js/modernizr.custom.17475.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquerypp.custom.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.elastislide.js"></script>
    <!--	End Carsual slider    -->



</head>

<body>

    <div class="hadder">

        <div class="container">

            <div class="span8">
                <div class="logo">
                    <a href="#">
                        <img src="~/Content/img/port_logo-ua.png" />
                    </a>
                </div>
            </div>




            <div class="span10">

                <div class="navbar pull-right">
                    <div class="navbar-inner">
                        <div class="container">

                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a><!--nav-collapse collapse navbar-inverse-collapse-->
                            <div class="nav-collapse collapse navbar-inverse-collapse">
                                <div class="m-bc ">
                                    <ul class="nav nav-pills">
                                        <li class="active dropdown-submenu">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="index.html">Home <p>start here</p></a>
                                            <ul class="dropdown-menu top10">
                                                <li><a href="index.html">Home Page 1</a></li>
                                                <li><a href="home-2.html">Home Page 2</a></li>
                                                <li><a href="home-3.html">Home Page 3</a></li>
                                                <li><a href="home-4.html">Home Page 4</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Our Project <p>result of our work</p></a></li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Pages <p>other pages</p></a>
                                            <ul class="dropdown-menu top10">
                                                <li><a href="dtls.html">Page 1</a></li>
                                                <li><a href="dtls-2.html">Page 2</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="portfolio-1.html">Our Portfolio <p>result of our work</p></a>
                                            <ul class="dropdown-menu top10">
                                                <li><a href="portfolio-1.html">Portfolio 1</a></li>
                                                <li><a href="portfolio-2.html">Portfolio 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog-1.html">Blog <p>what we think</p></a></li>
                                        <li><a href="contact.html">Contact us <p>write massage</p></a></li>
                                    </ul>

                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
            <div id="footer">
                <div class="container">
                    <div id="wrapper" class="clearfix top20">
                        <div class="row-fluid">
                            <div class="span2">

                                <div id="1footer">
                                    <a href="http://www.yuz.uspa.gov.ua/index.php/ua/">
                                        <img src="~/Content/img/footerImg/1 footer.gif" />
                                    </a>
                                </div>

                            </div>

                            <div class="span2">

                                <div id="2footer">
                                    <a href="http://mtu.gov.ua/">
                                        <img src="~/Content/img/footerImg/2 footer.gif" />
                                    </a>
                                </div>

                            </div>

                            <div class="span2">

                                <div id="3footer">
                                    <a href="http://atfl.org.ua/">
                                        <img src="~/Content/img/footerImg/3 footer.gif" />
                                    </a>
                                </div>

                            </div>

                            <div class="span2">

                                <div id="4footer">
                                    <a href="http://www.uspa.gov.ua/">
                                        <img src="~/Content/img/footerImg/4 footer.gif" />
                                    </a>
                                </div>

                            </div>

                            <div class="span2">

                                <div id="5footer">
                                    <a href="http://www.blacksea-cruises.com/">
                                        <img src="~/Content/img/footerImg/5 footer.gif" />
                                    </a>
                                </div>

                            </div>

                            <div class="span2">

                                <div id="6footer">
                                    <a href="http://www.port.odessa.ua/ru/">
                                        <img src="~/Content/img/footerImg/6 footer.gif" />
                                    </a>
                                </div>

                            </div>

                        </div>
                        <!--End footer banner-->
                    </div>
                </div>

                <div class="container">
                    <div id="wrapper" class="clearfix top20">
                        <div class="row-fluid">
                            <div id="logo" class="span2">
                                <a href="http://uspa.gov.ua/">
                                    <img src="~/Content/img/footerImg/port logo.png" />
                                </a>
                            </div>
                            <div class="span4">
                                <p>
                                    АДМІНІСТРАЦІЯ МОРСЬКИХ ПОРТІВ УКРАЇНИ
                                    © 2016 | PRIVACY POLICY. POWERED BY ASA&NNV
                                </p>
                            </div>

                            <div class="span3 offset3">
                                <!--social network-->
                                <h3>Ми в соціальних мережах</h3>
                                <ul>
                                    <li><a href="#" class="fb"> <img src="~/Content/img/fb.png" /> </a></li>
                                    <li><a href="#" class="you-t"> <img src="~/Content/img/you-t.png" /> </a></li>
                                </ul>
                                <!--<div class="row-fluid ftr-socile-link">

                            </div>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!--End first footer-->


            <div id="footer-bottom">
                <div class="container">
                    <p>Copyright 2012 Template Eden | All Rights Reserved | <a href="http://templateeden.com">Template Eden</a></p>
                </div>
            </div>


            @RenderSection("scripts", required: false)
        </div></body>
</html>
